span {
    display: inline-block;
}
body {
    font-family: sans-serif;
}
.intro-title {
    font-size: 45px;
    font-weight: 700;
}
.intro-text {
    font-size: 30px;
    font-weight: 400;
}
.post-title {
    font-size: 20px;
    font-weight: 700;
}
.post-content {
    font-size: 14px;
    font-weight: 400;
}
.post-date {
    font-size: 12px;
    font-weight: 400;
}
.post-more {
    font-size: 12px;
    font-weight: 700;
}
.lg-post-title {
    font-size: 40px;
    font-weight: 700;
}
.lg-post-content {
    font-size: 16px;
    font-weight: 400;
}
.lg-post-date {
    font-size: 14px;
    font-weight: 400;
}
.lg-post-more {
    font-size: 14px;
    font-weight: 700;
}