body {
    font-family: 'TT Hoves', sans-serif;
    position: relative;
    width: 1440px;
    margin: 0 auto;
}
a:hover {
    text-decoration: underline;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-1 {
    width: 70px;
}
.col-4 {
    width: 370px;
}
.col-5 {
    width: 470px;
}
.col-7 {
    width: 670px;
}
.col-8 {
    width: 770px;
}

.header {
    width: 1440px;
    margin: 0 0 63px;
    padding: 30px 0;
}
.header-nav__link {
    font-style: normal;
    font-weight: 400;
    font-style: 12px;
    line-height: 12px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 60px;
}
.header-nav__link--isAccent {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.intro {
    width: 1440px;
    margin: 0 0 30px;
}
.main-title {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    text-transform: uppercase;
}
.main-title__accent {
    font-weight: 700;
    color: #333333;
}

.line-1 {
    margin: 0 auto 30px;
}

.projects {
    width: 1440px;
    margin: 0 0 120px;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.project {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fbfbfb;
}
.project__image {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
}
.project-description {
    padding: 30px 30px 30px 0;
}
.project-description__title {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: #BDBDBD;
    margin-bottom: 20px;
}
.project-description__info {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    margin-bottom: 64px;
}
.project-description__link-box {
    width: 222px;
    height: 71px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.project-description__link {
    display: block;
    height: 24px;
    padding: 6px 32px 6px 0;
    text-decoration: none;
    color: #333333;
    background-image: url(../img/arrow-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.slider {
    display: flex;
    align-items: center;
}
.slider-counter {
    display: flex;
}
.slider-counter__item {
    margin-right: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
}
.slider-counter__item--isCurrent {
    color: #333333;
}
.slider-counter__devider {
    margin-right: 26px;
}
.slider-controls__item {
    background-color: #F9F9F9;
    width: 53px;
    height: 53px;
    border: 1px solid #F2F2F2;
    margin-right: 23px;
}
.slider-controls__item--isDisabled {
    background-color: #fff;
}
.slider-controls__img {
    margin: auto;
}

.footer {
    width: 1440px;
    background-color: #2c2c2c;
}
.footer-content {
    padding: 56px 0;
}
.footer-column__title {
    margin-bottom: 24px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
.footer-column__item {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-column__item--isContact {
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left 5px;
}
#adress {
    background-image: url(../img/adress.png);
}
#phone {
    background-image: url(../img/phone.png);
}
#email {
    background-image: url(../img/email.png);
}
.footer-column__item--isIcon {    
    display: inline;
    margin-right: 40px;
}
.footer-column__item--isIcon img {    
    display: inline;
}
.line-2 {
    margin: 0;
    opacity: 0.1;
}
.footer__site-copyright {
    padding: 24px 0;
    text-align: center;
    color: rgba(200, 200, 200, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
}