<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <div class="main-container">
    <header>
      <nav>
        <span><a href="#">HotCoffe</a></span>
        <span>
          <form action=""><input name="search" type="text" placeholder="Search..."></form>
        </span>
        <span><a href="#">Home</a></span>
        <span><a href="#">Articles</a></span>
        <span><a href="#"><img src="#" alt="Instgram"></a></span>
        <span><a href="#"><img src="#" alt="Twitter"></a></span>
        <span><a href="#"><img src="#" alt="Linkedin"></a></span>
      </nav>
    </header>

    <section class="intro">
      <div class="container">
        <div class="title">
          <h1 class="intro-title">Make better coffe</h1>
          <p class="intro-text">why learn how to blog?<span><img src="#" alt="cup"></span></p>
        </div>
        <img src="#" alt="Img-1">
      </div>
    </section>

    <section class="posts">
      <div class="posts-container">
        <article class="post" id="first-post">
          <div class="content">
            <div id="post1-image"></div>
            <h3 class="post-title">long established</h3>
            <p class="post-text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that....
            </p>
            <footer>
              <span class="post-date">May 20th 2020</span>
              <span class="post-link"><a href="#">Read more</a></span>
            </footer>
          </div>
        </article>
        <article class="post">
          <div class="content">
            <div id="post2-image"></div>
            <!-- <div class="clearfix"></div> -->
            <div class="post-content">
              <h3 class="post-title">long established</h3>
              <p class="post-text">It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that....
              </p>
              <footer>
                <span class="post-date">May 20th 2020</span>
                <span class="post-link"><a href="#">Read more</a></span>
              </footer>              
            </div>
          </div>
        </article>
        <article class="post">
          <div class="content">
            <div id="post3-image"></div>
            <h3 class="post-title">long established</h3>
            <p class="post-text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that....
            </p>
            <footer>
              <span class="post-date">May 20th 2020</span>
              <span class="post-link"><a href="#">Read more</a></span>
            </footer>
          </div>
        </article>
        <article class="post">
          <div class="content">
            <div id="post4-image"></div>
            <h3 class="post-title">long established</h3>
            <p class="post-text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that....
            </p>
            <footer>
              <span class="post-date">May 20th 2020</span>
              <span class="post-link"><a href="#">Read more</a></span>
            </footer>
          </div>
        </article>
        <div class="clearfix"></div>
      </div>
    </section>

    <section class="what-is">
      <div class="container">
        <article class="lg-post">
          <div class="content">
            <h3 class="lg-post-title">What is Lorem Ipsum?</h3>
            <p class="lg-post-text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal distribution...
            </p>
            <footer>
              <span class="lg-post-date">May 20th 2020</span>
              <span class="lg-post-link"><a href="#">Read more</a></span>
            </footer>
          </div>
        </article>
      </div>
    </section>
    <hr>
    <footer>
      <span class="">hotcoffee</span> <span class="">2020 copyright all rights
        reserved</span>
      <span><a href="#"><img src="#" alt="Instgram"></a></span>
      <span><a href="#"><img src="#" alt="Twitter"></a></span>
      <span><a href="#"><img src="#" alt="Linkedin"></a></span>
    </footer>
  </div>
</body>

</html>