<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="reset.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <div class="main-container">
    <header>
      <div class="header-container">
        <nav class="navigation">
          <div class="link">
            <span class="header-link"><a href="#">HotCoffe</a></span>
          </div>
          <div class="search">
            <!-- <div><img src="images/search.png" alt=""></div> -->
            <form action="">
              <input type="text" placeholder="Search...">
            </form>
          </div>
          <div>
            <span class="nav-label"><a href="#">Home</a></span>
            <span class="nav-label"><a href="#">Articles</a></span>
          </div>
        </nav>
        <div class="resourses">
          <span><a href="#"><img src="images/instagram.png" alt="Instgram"></a></span>
          <span><a href="#"><img src="images/twitter.png" alt="Twitter"></a></span>
          <span><a href="#"><img src="images/linkedin.png" alt="Linkedin"></a></span>
        </div>
      </div>
    </header>

    <section class="intro">
      <div class="intro-container">
        <div class="intro-image">
          <img src="images/intro-img.png" alt="">
        </div>
        <div class="intro-text">
          <h1 class="intro-title">Make better coffe <div class="intro-title-img"><img src="images/cup.png" alt=""
                width="70px"></div>
          </h1>
          <p class="intro-subtitle">why learn how to blog?</p>
        </div>
      </div>
    </section>

    <section class="posts">
      <div class="posts-container">
        <div class="row">
          <article class="post" id="first-post">
            <div class="content-1">
              <div class="post1-image"><img src="images/image-1.png" alt=""></div>
              <div class="post-content">
                <h3 class="post-title">long established</h3>
                <p class="post-text">It is a long established fact that a reader will be distracted by the readable
                  content of a page when looking at its layout. The point of using Lorem Ipsum is that....
                </p>
                <footer>
                  <span class="post-date">May 20th 2020</span>
                  <span class="post-link"><a href="#">Read more</a></span>
                </footer>
              </div>
            </div>
          </article>
        </div>
        <div class="row">
          <article class="post">
            <div class="content">
              <div class="post2-image"><img src="images/image-2.png" alt=""></div>
              <div class="post-content">
                <h3 class="post-title">long established</h3>
                <p class="post-text">It is a long established fact that a reader will be distracted by the readable
                  content of a page when looking at its layout. The point of using Lorem Ipsum is that....
                </p>
                <footer>
                  <span class="post-date">May 20th 2020</span>
                  <span class="post-link"><a href="#">Read more</a></span>
                </footer>
              </div>
            </div>
          </article>
          <article class="post">
            <div class="content">
              <div class="post3-image"><img src="images/image-3.png" alt=""></div>
              <div class="post-content">
                <h3 class="post-title">long established</h3>
                <p class="post-text">It is a long established fact that a reader will be distracted by the readable
                  content of a page when looking at its layout. The point of using Lorem Ipsum is that....
                </p>
                <footer>
                  <span class="post-date">May 20th 2020</span>
                  <span class="post-link"><a href="#">Read more</a></span>
                </footer>
              </div>
            </div>
          </article>
          <article class="post">
            <div class="content">
              <div class="post4-image"><img src="images/image-4.png" alt=""></div>
              <div class="post-content">
                <h3 class="post-title">long established</h3>
                <p class="post-text">It is a long established fact that a reader will be distracted by the readable
                  content of a page when looking at its layout. The point of using Lorem Ipsum is that....
                </p>
                <footer>
                  <span class="post-date">May 20th 2020</span>
                  <span class="post-link"><a href="#">Read more</a></span>
                </footer>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="what-is">
      <div class="container">
        <article class="lg-post">
          <div class="lg-content">
            <h3 class="lg-post-title">What is Lorem Ipsum?</h3>
            <p class="lg-post-text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal distribution...
            </p>
            <footer>
              <span class="lg-post-date">May 20th 2020</span>
              <span class="lg-post-link"><a href="#">Read more</a></span>
            </footer>
          </div>
        </article>
      </div>
    </section>
    <hr>
    <footer>
      <div class="footer-container">
        <div class="">hotcoffee<span class="">2020 copyright all rights reserved</span></div>
        <div class="resourses">
          <span><a href="#"><img src="images/instagram.png" alt="Instgram"></a></span>
          <span><a href="#"><img src="images/twitter.png" alt="Twitter"></a></span>
          <span><a href="#"><img src="images/linkedin.png" alt="Linkedin"></a></span>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>