* {
    font-family: 'Inter', sans-serif;
    box-sizing: content-box;
}

.t-size-sm,
.post-date,
.post-link {
    font-size: 12px;
}
.t-size-base,
.post-text,
.lg-post-date,
.lg-post-link {
    font-size: 14px;
}
.t-size-lg,
.lg-post-text {
    font-size: 16px;
}
.t-weight-base,
.intro-text,
.post-text,
.post-date,
.lg-post-text,
.lg-post-date {
    font-weight: 400;
}
.t-weight-bold,
.intro-title,
.post-title,
.post-link,
.lg-post-title,
.lg-post-link {
    font-weight: 700;
}
.t-color-accent,
.post-title,
.post-link,
.lg-post-title,
.lg-post-link {
    color: #2D3748;
}
.t-color-base,
.post-text,
.post-date,
.lg-post-text,
.lg-post-date {
    color: #718096;
}
.intro-title {
    font-size: 45px;
    color: #000;
}
.intro-text {
    font-size: 30px;
    color: #4A5568;
}
.post-title {
    font-size: 20px;
}
.lg-post-title {
    font-size: 40px;
}


.main-container {
    width: 1152px;
    background-color: #eeeeee;
    margin: 0 auto;
}

.posts {
    width: 966px;
    margin: 40px auto;
}

.posts-container {
    margin: -40px -15px 0;
}

#first-post {
    width: 960px;
    height: 243px;
}

.post {
    width: 300px;
    height: 382px;
    float: left;
    border: 1px solid #E2E2E2;
    margin: 40px 15px 0;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
    position: relative;
}

.post1-image, .post2-image, .post3-image, .post4-image {
    background-repeat: no-repeat;
}
.post2-image, .post3-image, .post4-image {    
    width: 300px;
    height: 179px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 53%;
}
.post1-image {
    width: 434px;
    height: 243px;
    background-image: url(images/image-1.png);
    position: absolute;
    left: 55%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.post2-image {
    background-image: url(images/image-2.png);
}
.post3-image {
    background-image: url(images/image-3.png);
}
.post4-image {
    background-image: url(images/image-4.png);
}

.post-title {
    margin: 0;
}

.post1-content {
    position: absolute;
    left: 5%;
    right: 53%;
    top: 17%;
    bottom: 18%;
}

.post2-content, .post3-content, .post4-content {
    position: absolute;
    left: 6%;
    right: 8%;
    top: 52%;
    bottom: 6%;
}

.post-date {
    position: absolute;
    left: 0%;
    bottom: 0%;
}
.post-link {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.post-text {
    margin: 15px 0;
}

.post1-content .post-text {
    margin: 30px 0;
}

.clearfix {
    clear: both;
}