* {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}

.clearfix {
    clear: both;
}

.post-date,
.post-link {
    font-size: 12px;
}
.post-text,
.lg-post-date,
.lg-post-link {
    font-size: 14px;
}
.lg-post-text,
.nav-label {
    font-size: 16px;
}
.intro-subtitle,
.post-text,
.post-date,
.lg-post-text,
.lg-post-date,
.nav-label {
    font-weight: 400;
}
.intro-title,
.post-title,
.post-link,
.lg-post-title,
.lg-post-link,
.header-link {
    font-weight: 700;
}
.post-title,
.post-link,
.lg-post-title,
.lg-post-link {
    color: #2D3748;
}
.post-text,
.post-date,
.lg-post-text,
.lg-post-date {
    color: #718096;
}
.intro-title {
    font-size: 45px;
    color: #000;
}
.intro-subtitle {
    font-size: 30px;
    color: #4A5568;
}
.header-link,
.post-title {
    font-size: 20px;
}
.lg-post-title {
    font-size: 40px;
}


.main-container {
    position: relative;
    width: 1152px;
    background-color: #eeeeee;
    margin: 0 auto;
}


.header-container {
    width: 100%;
    height: 85px;
    padding: 36px 96px 25px 96px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    width: 87%;
    display: flex;
    justify-content: space-between;
}

.nav-label {
    margin: 30px;
}

.resourses {
    width: 13%;
    display: flex;
    justify-content: space-between;
}

.intro {
    margin: 0 auto 39px;
}

.intro-container {
    background-color: #FBFBFB;
    width: 1152px;
    height: 467px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.intro-title {
    width: 354px;
    margin-bottom: 19px;
}

.intro-title-img {
    display: inline-block;
    width: 70px;
    height: 67px;
    transform: rotate(-23deg);
}


.posts {
    width: 966px;
    margin: 0 auto 43px;
}

.posts-container {
    margin-bottom: -40px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#first-post {
    width: 966px;
}

.post {
    width: 300px;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}

.content-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
}


.footer-container {
    width: 100%;
    height: 79px;
    padding: 30px 100px 31px 90px;
    display: flex;
    justify-content: space-between;
}

