@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-BoldItalic.eot');
    src: local('TT Hoves Bold Italic'), local('TTHoves-BoldItalic'),
        url('TTHoves-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-BoldItalic.woff2') format('woff2'),
        url('TTHoves-BoldItalic.woff') format('woff'),
        url('TTHoves-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Bold.eot');
    src: local('TT Hoves Bold'), local('TTHoves-Bold'),
        url('TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Bold.woff2') format('woff2'),
        url('TTHoves-Bold.woff') format('woff'),
        url('TTHoves-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Italic.eot');
    src: local('TT Hoves Italic'), local('TTHoves-Italic'),
        url('TTHoves-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Italic.woff2') format('woff2'),
        url('TTHoves-Italic.woff') format('woff'),
        url('TTHoves-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-MediumItalic.eot');
    src: local('TT Hoves Medium Italic'), local('TTHoves-MediumItalic'),
        url('TTHoves-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-MediumItalic.woff2') format('woff2'),
        url('TTHoves-MediumItalic.woff') format('woff'),
        url('TTHoves-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Regular.eot');
    src: local('TT Hoves Regular'), local('TTHoves-Regular'),
        url('TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Regular.woff2') format('woff2'),
        url('TTHoves-Regular.woff') format('woff'),
        url('TTHoves-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-LightItalic.eot');
    src: local('TT Hoves Light Italic'), local('TTHoves-LightItalic'),
        url('TTHoves-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-LightItalic.woff2') format('woff2'),
        url('TTHoves-LightItalic.woff') format('woff'),
        url('TTHoves-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Light.eot');
    src: local('TT Hoves Light'), local('TTHoves-Light'),
        url('TTHoves-Light.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Light.woff2') format('woff2'),
        url('TTHoves-Light.woff') format('woff'),
        url('TTHoves-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Medium.eot');
    src: local('TT Hoves Medium'), local('TTHoves-Medium'),
        url('TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Medium.woff2') format('woff2'),
        url('TTHoves-Medium.woff') format('woff'),
        url('TTHoves-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Black'), local('TT-Hoves-Black'),
        url('TTHoves-Black.woff2') format('woff2'),
        url('TTHoves-Black.woff') format('woff'),
        url('TTHoves-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }